<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://wwww.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
        <meta charset="UTF-8"/>

    </head>
    <body>
        <header th:replace="~{layout/plantilla01 :: header}"/>
        <section th:replace="~{layout/plantilla01 :: section}"/>
        
        <div class="formulario">

            <form method ="post"  th:action="@{/login}">
                <div class="username">
                    <input type="text" required>
                        <label for="username"><i class="fas fa-user-lock"></i>[[#{login.username}]]:</label>
                </div>
                <div class="username">
                    <input type="password" required>
                        <label class="col-md-5 my-auto" for="password"><i class="fas fa-key"></i>[[#{login.password}]]</label>
                </div>
                <div>
                    <button class="btn btn-primary" >
                        <a th:href="@{/registro/nuevo}" class="btn"><i class="fas fa-user-plus"></i> [[#{accion.registrar}]]</a></button>
                    <button class="btn btn-info" >                                        
                        <a th:href="@{/registro/recordar}" class="btn"><i class="fas fa-envelope"></i> [[#{accion.recordar}]]</a></button>
                    <button class="btn btn-success" type="submit">
                        <span class="btn"><i class="fas fa-sign-in-alt"></i>
                            [[#{login.login}]]</span></button>
                </div>
            </form>
        </div>
        <!--

        <div class="formulario">

            <form method ="post" th:action="@{/login}">
                <div class="username">
                    <input type="text" required>
                        <label for="username"><i class="fas fa-user-lock"></i>[[#{login.username}]]:</label>
                </div>
                <div class="username">
                    <input type="password" required>
                        <label class="col-md-5 my-auto" for="password"><i class="fas fa-key"></i>[[#{login.password}]]</label>
                </div>
                <div class="recordar">Olvido su contraseña?</div>
                <input type="submit" value="iniciar">

                    <div>
                        <button class="btn btn-primary" >
                            <a th:href="@{/registro/nuevo}" class="btn"><i class="fas fa-user-plus"></i> [[#{accion.registrar}]]</a></button>
                        <button class="btn btn-info" >                                        
                            <a th:href="@{/registro/recordar}" class="btn"><i class="fas fa-envelope"></i> [[#{accion.recordar}]]</a></button>
                        <button class="btn btn-success" type="submit">
                            <span class="btn"><i class="fas fa-sign-in-alt"></i>
                                [[#{login.login}]]</span></button>
                    </div>
            </form>
        </div>
        -->


        <div th:if="${param.error != null}">
            <h3>[[#{error.login}]]</h3>
        </div>
        </div>
        </div>           
        </div>

    </body>
</html>
